body {
    direction: ltr;
}

@media (min-width: 768px) {
    .ladi-section .ladi-container {
        width: 960px;
    }
}

@media (max-width: 767px) {
    .ladi-section .ladi-container {
        width: 420px;
    }
}

@font-face {
    font-family: "PoppinsVN-400.ttf";
    src: url("https://w.ladicdn.com/5ebf76b51e398e6f1670261b/poppinsvn-400-20221216051841-tt1an.ttf") format("truetype");
}

@font-face {
    font-family: "PoppinsVN-700.ttf";
    src: url("https://w.ladicdn.com/5ebf76b51e398e6f1670261b/poppinsvn-700-20221216051840-mfxqc.ttf") format("truetype");
}

@font-face {
    font-family: "PoppinsVN-400.ttf";
    src: url("https://w.ladicdn.com/5ebf76b51e398e6f1670261b/poppinsvn-400-20221216051841-tt1an.ttf") format("truetype");
}

body {
    font-family: "PoppinsVN-400.ttf"
}